# Firebase Configuration
VITE_FIREBASE_API_KEY=AIzaSyBIQm_Ux_JuO66_C4WNv7FG0Oa8KixMtI0
VITE_FIREBASE_AUTH_DOMAIN=footbet-cda52.firebaseapp.com
VITE_FIREBASE_DATABASE_URL=https://footbet-cda52-default-rtdb.firebaseio.com
VITE_FIREBASE_PROJECT_ID=footbet-cda52
VITE_FIREBASE_STORAGE_BUCKET=footbet-cda52.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=577865489482
VITE_FIREBASE_APP_ID=1:577865489482:web:4260f2e8dedfa7d4cd1ab3

# ScrapingAnt keys are rotated in server.ts
